{% extends 'base.html' %}

{% block title %}support page{%endblock%}


{% block content%}
    <style>
        body{
            justify-content: center;
            text-align: center;
            align-content:center;
        }
       .container{
           
       }
    </style>
    
    <div class='container'>
        <div class='header'>
            Raise a Ticket
        </div>
        <div class='middles'>
            <form>
               <input>
               <input>
               <input type='textarea'>
            </form>
        </div>
    </div>
{%endblock%}